.card-container{
    display: flex;
   
    margin-top: 2rem;
    .cardWraper{
        display: flex;
        border:.1rem solid red;
        padding: .2rem;
        border-radius:.5rem;
        flex-direction: column;
        margin-right: .2rem;
        .card-image{
            width: 100%;
            margin:0 auto;
            img{
                width: 100%;
            }
        }
        .card-detail{
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }
        .add-to-card{
            cursor:pointer;
        }
        .plus-btn{
            margin:.2rem;
            cursor:pointer;
            padding:.3rem;
            background-color: rgb(4, 185, 125);
            color: white;
        }
        .mines-btn{
            margin:.2rem;
            cursor:pointer;
            padding:.3rem;
            background-color: rgb(4, 185, 125);
            color: white;
        }
    }
}